@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/variants";

@import "~@fontsource/montserrat/variable.css";
@import "~@fontsource/montserrat/variable-italic.css";
@import "~@fontsource/fira-code/variable.css";

@import "tooltip.css";
@import "scrollbar.css";
@import "loading/dots.css";

/* AlpineJS css https://alpinejs.dev/directives/cloak */
[x-cloak] { 
    display: none !important; 
}
/* End AlpineJS css */

.tab-invert-rounded::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -0.7rem;
    width: 0.7rem;
    height: 1rem;
    border-bottom-left-radius: 0.375rem;
    box-shadow: 0 0.5rem 0 0 #171717;
    background-color: transparent;
}

.tab-invert-rounded::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -0.7rem;
    width: 0.7rem;
    height: 1rem;
    border-bottom-right-radius: 0.375rem;
    box-shadow: 0 0.5rem 0 0 #171717;
    background-color: transparent;
}

.default-outline {
    @apply focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-1 focus-visible:outline-blue-500;
}
